h3 Serial Timestamp

.form-line
    .header
        .title Timestamp type
        .description Select timestamp format
    select.form-control(
        [(ngModel)]='config.store.serialTimestampPlugin.timestamp',
        (ngModelChange)='config.save()'
    )
        option([ngValue]='timestamp', *ngFor='let timestamp of timestamps') {{timestamp}}
